body, div, section, nav, ul, li{
    margin: 0px;
    padding: 0px;
    list-style: none;
}

body{
    display: grid;
    grid-template-columns: 1fr 120px minmax(300px, 800px) 1fr;
    background-color: black;
    color: #fff;
}